@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,100&display=swap');

header{
    background-image: url("../imagens/background/calibration-cube-4134916.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: white;
    font-family: 'Barlow', sans-serif;
}

#efeito{
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    width: 100%;
}

#efeito h1{
    margin: 0;
    margin-top: 10px;
}

#efeito hr{
    width: 550px;
}

#link_voltar{
    margin: 5px;
    margin-bottom: 10px;

    text-decoration: none;
    color: white;
    
    font-family: 'Open Sans', sans-serif;
}

#link_voltar:hover{
    text-decoration: underline white;
}

#conteudo_produto{
    width:100%;
    min-height: 100px;
    background:#f1f2f6;
    font-family: 'Noto Sans JP', sans-serif;
}

section{
    width: 400px;
    min-height: 400px;
    margin: 10px;
    margin-top: 25px;

    /* background-color: blue; */
    flex-direction: column;
}

#img_produto{
    width: 380px;
    border-radius: 15px;
    margin-bottom: 20px;
}

#titulo_produto{
    font-size: 28px;
    margin: 10px;

    width: 100%;
}

#tamanho_preco{
    flex-direction: column;
    margin-bottom: 10px;
    
    font-size: 18px;
    width: 100%;

    font-family: museo-sans, sans-serif;
}

#juros{
    font-size: 14px;
    margin-top: 4px;
}

.cor{
    width: 14px;
    margin: 2px;
}

#cores{
    margin: 4px;
    flex-wrap: wrap;
}

.material-icons{
    font-size: 15px;
    margin: 1.5px;
}

#sacola{
    font-size: 28px;
    margin-left: 5px;
}

#titulo_descricao{
    font-size: 30px;
    margin: 5px;
    margin-bottom: 15px;
}

#descricao_produto{
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Noto Sans JP', sans-serif;
    text-align: justify;

    /* background: pink; */

    width: 100%;
    margin:0px;
    /* background:pink; */
    /* color:#57606f; */
    min-height: 250px;
    margin-bottom:15px;
    padding-bottom: 10px;

    background:#f1f2f6;
}

#link_chamada{
    text-decoration: none;
    /* color: black; */
    font-size: 18px;

    margin:15px;
    border-radius: 10px;
    /* border: black solid 1.5px; */
    width: 250px;
    min-height:  35px;
    text-align: center;

    color: #f1f2f6;
    background: rgba(210, 105, 30, 0.808);
}

#link_chamada:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);    
}

#conteudo_descricao{
    width: 80%;
    /* background: white; */
    flex-direction: column;
    align-items: flex-start;

    font-size:14px;
}

.descricao{
    margin: 4px;
}

.seta{
    font-size: 24px;
    color:blue;
}

@media(max-width: 700px){

    #conteudo_produto{
        flex-direction: column;
    }

    section{
        width: 80%;
        min-height: 200px;
    }

    #img_produto{
        width: 340px;
        border-radius: 15px;
        margin-bottom: 20px;
    }
}