
/* ------------------------------- primeira section ----------------- */
.primeira_section{
    height: 400px;
    background: orange;
}

/* ------------------------------- primeira section ----------------- */

/* ------------------------------- segunda section ----------------- */
.segunda_section{
    height: 400px;
    background: pink;
}
/* ------------------------------- segunda section ----------------- */

/* ------------------------------- terceira section ----------------- */
.terceira_section{
    height: 400px;
    background: yellow;
}
/* ------------------------------- terceira section ----------------- */

